name: CI Checks
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn
      - name: Run tests
        run: yarn test
      - name: Run lints
        run: yarn lint
      - name: Build
        run: yarn build
